body {
  background-color: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

#mainNavBar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavBar .navbar-brand {
  color: #ea1c2c;
}

#mainNavBar .nav-link {
  color: #fff;
}

#mainNavBar .nav-link:hover,
#mainNavBar .nav-link:focus {
  color: #ea1c2c;
}
